bin/
bin64/
arm64/
vs.proj/.vs/
vs.proj/x64/
vs.proj/ARM64
vs.proj/Debug/
vs.proj/Release/
UpgradeLog.htm
vs.proj/NppVim.vcxproj.user
vs.proj/NppVim.exp
vs.proj/NppVim.lib
vs.proj/NppVim.log
vs.proj/NppVim.sln
vs.proj/NppVim
*.sdf
*.suo
*.filters
*.opensdf
*.sln
*.exp
*.aps
*.bak
vs.proj/NppVim.lib
