build/
bin/
bin64/
arm64/
NppVim/
NppVim.x64/
NppVim.arm64/
vs.proj/.vs/
vs.proj/x64/
vs.proj/ARM64
vs.proj/Debug/
vs.proj/Release/
vs.proj/NppVim.vcxproj.user
vs.proj/NppVim.exp
vs.proj/NppVim.lib
vs.proj/NppVim.log
vs.proj/NppVim/
vs.proj/NppVim.lib
UpgradeLog.htm
*.zip
*.sdf
*.suo
*.filters
*.opensdf
*.sln
*.exp
*.aps
*.bak
.vs/
