// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,8,0,0
 PRODUCTVERSION 1,8,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "FileDescription", "Vim mode plugin for Notepad++"
            VALUE "FileVersion", "VER_MAJOR.VER_MINOR.VER_PATCH.VER_BUILD"
            VALUE "InternalName", "NppVim.dll"
            VALUE "OriginalFilename", "NppVim.dll"
            VALUE "ProductName", "NppVim"
            VALUE "ProductVersion", "VER_MAJOR.VER_MINOR.VER_PATCH.VER_BUILD"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUT DIALOGEX 0, 0, 220, 120
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About NppVim"
FONT 16, "Segoe UI"
BEGIN
    LTEXT "NppVim", IDC_TITLE, 10, 10, 200, 16, SS_CENTER
    LTEXT "Vim emulation for Notepad++", IDC_DESC1, 10, 30, 200, 16, SS_CENTER
    LTEXT "Explore features with :tutor", IDC_DESC2, 10, 50, 200, 16, SS_CENTER
    PUSHBUTTON "GitHub", IDC_BTN_GITHUB, 20, 100, 60, 10, BS_OWNERDRAW
    PUSHBUTTON "Donate", IDC_BTN_DONATE, 85, 100, 60, 10, BS_OWNERDRAW
    DEFPUSHBUTTON "Close", IDOK, 150, 100, 60, 10, BS_OWNERDRAW
END


IDD_CONFIG DIALOGEX 0, 0, 300, 220
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "NppVim Configuration"
FONT 11, "Segoe UI"
BEGIN
    GROUPBOX "Escape Key", -1, 15, 10, 270, 70
    LTEXT "Sequence:", -1, 25, 30, 60, 12
    COMBOBOX IDC_ESCAPE_KEY, 90, 27, 150, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Timeout (ms):", -1, 25, 55, 60, 12
    EDITTEXT IDC_TIMEOUT, 90, 52, 50, 10, ES_NUMBER | WS_TABSTOP
    GROUPBOX "Ctrl Key Overrides", -1, 15, 90, 270, 80
    CHECKBOX "Override Ctrl+D (Page Down)", IDC_CHECK_CTRL_D, 25, 105, 200, 12
    CHECKBOX "Override Ctrl+U (Page Up)", IDC_CHECK_CTRL_U, 25, 125, 200, 12
    CHECKBOX "Override Ctrl+R (Redo)", IDC_CHECK_CTRL_R, 25, 145, 200, 12
    DEFPUSHBUTTON "OK", IDOK, 50, 180, 50, 12, BS_OWNERDRAW
    PUSHBUTTON "Cancel", IDCANCEL, 110, 180, 50, 12, BS_OWNERDRAW
    PUSHBUTTON "Reset", IDC_RESET_BUTTON, 170, 180, 50, 12, BS_OWNERDRAW
END

/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    "IDD_ABOUTBOX", DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (United Kingdom) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENG)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK
#pragma code_page(1252)

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE
BEGIN
    "\0"
END

3 TEXTINCLUDE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (United Kingdom) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED
