name: Build NppVim Release

on:
  push:
    tags:
      - "*.*.*.*"

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        arch: [x64, win32, arm64]

    steps:
      - uses: actions/checkout@v4

      - name: Setup Ninja
        uses: seanmiddleditch/gha-setup-ninja@v4

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}

      - name: Configure
        run: |
          cmake -S . -B build/${{ matrix.arch }} -G Ninja -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          cmake --build build/${{ matrix.arch }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: NppVim-${{ matrix.arch }}
          path: build/${{ matrix.arch }}
